<title>Old Time Radio - <%= title %></title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,width=device-width" />
<meta name="description" content="<%= description %>" />
<link rel="icon" type="image/png" href="/favicon.png"/>
<meta property="og:title" content="Old Time Radio - <%= title %>" />
<meta property="og:url" content="https://oldtime.radio" />
<meta property="og:type" content="website" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:image" content="https://oldtime.radio/otr.png" />
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/search.css">