<div id="title" class="<%= cssClass %>">
    <div class="spacer" aria-hidden="true"></div>
    <h1>
        <a href="/">Old Time Radio</a>
        <span><%= subTitle %></span>
    </h1>
    <div class="spacer"></div>
    <div class="radioWave" id="titleInner1" aria-hidden="true"></div>
    <div class="radioWave" id="titleInner2" aria-hidden="true"></div>
    <div class="radioWave" id="titleInner3" aria-hidden="true"></div>
    <div class="radioWave" id="titleInner4" aria-hidden="true"></div>
</div>