.DS_Store
.idea
*.iml
node_modules
cache
public/hi.mp3
public/lo.mp3
public/test.mp3
public/sitemap.xml
src/*.mjs
src/*.mjs.map
public/js/*.mjs
public/js/*.mjs.map
public/css/.sass-cache
*.tsbuildinfo
shared/*.mjs
shared/*.mjs.map
shared/*.d.mts
