<!doctype html>
<html>
    <head>
        <%- include('partials/head', { title: `${showName} Episodes`, description: `List of transcribed '${showName}' episodes` }) %>
    </head>
    <body>
        <%- include('partials/header', { subTitle: `${showName} Episodes`, cssClass: "episodesHeader" }) %>
        <main class="episodesList">
            <p class="pageDescription">
                The following episodes of '<%= showName %>' have been transcribed and summarised, and are available in <a href="/search">Old Time Radio Search</a>.
            </p>
            <p class="pageDescription">
                Click on an episode to see more information or go back to the <a href="/shows">list of shows</a>.
            </p>

            <div id="episodeSummaries">
                <%- include('partials/episode-summaries', { summaries: episodes }) %>
            </div>
        </main>
        <script src="/js/episodeSummary.js"></script>
    </body>
</html>
