<!doctype html>
<html>
    <head>
        <%- include('partials/head', { title: `${episode.show}: ${episode.episode}`, description: `Plot summary and episode information for ${episode.show} episode '${episode.episode}'` }) %>
    </head>
    <body>
        <%- include('partials/header', { subTitle: `${episode.show}: ${episode.episode}`, cssClass: "episodeHeader" }) %>
        <main>
            <%- include('partials/episode-details', { document: episode }) %>
        </main>
    </body>
</html>
