<!doctype html>
<html>
    <head>
        <%- include('partials/head', { title: `Search`, description: `Search engine for episodes of old radio shows` }) %>
    </head>
    <body>
        <%- include('partials/header', { subTitle: "Search", cssClass: "" }) %>
        <main>
            <p class="pageDescription">
                Use this page to search for episodes of <a href="/shows">old radio shows</a>.
            </p>
            <p class="pageDescription">
                Episodes were transcribed and summarised using software, and may contain errors.
            </p>

            <div id="searchForm">
                <input id="searchInput" type="text" placeholder="Search..." autocomplete="off">
                <button id="searchButton" aria-label="Search">Search</button>
            </div>

            <div id="searchRunning">
                <%- include('partials/loading') %>
            </div>

            <p id="searchError"></p>

            <div id="searchResults"></div>
        </main>
        <script src="/js/search.js"></script>
        <script src="/js/episodeSummary.js"></script>
    </body>
</html>
