<!doctype html>
<html>
    <head>
        <%- include('partials/head', { title: `Shows`, description: `List of transcribed radio shows available for searching` }) %>
    </head>
    <body>
        <%- include('partials/header', { subTitle: "Shows", cssClass: "" }) %>
        <main>
            <p class="pageDescription">
                The following shows have been transcribed and are available in <a href="/search">Old Time Radio Search</a>.
            </p>
            <p class="pageDescription">
                Click on a show to see the available episodes.
            </p>
            <ul>
                <% links.forEach(link => { %>
                    <li><a href="<%= link.url %>"><%= link.text %></a></li>
                <% }); %>
            </ul>
        </main>
    </body>
</html>
