@font-face {
    font-family: 'Bellerose';
    src: url('Bellerose.ttf') format('truetype');
}
html, body, div {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
div {
    border: 1px solid black;
}
#container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}
#message {
    display: flex;
    flex: 0 0 50px;
    align-items: center;
    justify-content: center;
}
#title {
    display: flex;
    flex: 0 0 100px;
    align-items: center;
    justify-content: center;
    font-family: Bellerose;
    font-size: 48px;
    margin-top: -24px;
}
#visualiser {
    display: flex;
    flex: 1 0 200px;
}
#buttons {
    display: flex;
    flex: 0 0 200px;
    flex-direction: row;
    justify-content: center;
}
.buttonBox {
    display: flex;
    flex: 0 0 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.buttonIndicatorInner {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.buttonIndicatorOuter, .button {
    display: flex;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.buttonIndicatorOuter {
    align-items: center;
    justify-content: center;
}
.buttonLabel {
    display: flex;
    flex: 0 0 20px;
    align-items: center;
}
.button {
    cursor: pointer;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #a7a7a7;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
.button:active {
    box-shadow: none;
}
@keyframes channelLoadingAnimation {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes channelLoadingAnimation2 {
    0%  { box-shadow:0 0 0px #00D608,0 0 0px #00D608; }
    50%   { box-shadow:0 0 10px #00D608,0 0 30px #00D608; }
    100%  { box-shadow:0 0 0px #00D608,0 0 0px #00D608; }
}
.buttonBox.channelLoading .buttonIndicatorInner {
    animation: channelLoadingAnimation 2s infinite;
}
.buttonBox.channelLoading .buttonIndicatorOuter {
    animation: channelLoadingAnimation2 2s infinite;
}
.buttonBox.channelPlaying .buttonIndicatorInner {
    background: radial-gradient(circle, rgba(178,237,183,1) 0%, rgba(98,199,101,1) 50%, rgba(0,214,8,1) 100%);
    box-shadow:0 0 10px #00D608,0 0 30px #00D608;
}
.buttonIndicatorOuter {
    background-color: #00D608;
}
.buttonIndicatorInner {
    border: none;
    background-color: #b8c5b7;
}
.buttonLabel {
    border: none;
    background-color: white;
    padding: 5px;
    font-family: Bellerose;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 24px;
    margin-top: -10px;
}