:root {
    --led-off: #5e8a04;
    --led-on: #41FF05;
    --led-glow: rgba(0, 0, 0, 0.2) 0px 0px 7px 1px, inset #304701 0 0 10px, #41FF05 0 0 12px;
    --led-on-edge: #2a8a01;
    --font-color: white;
    --panel-background: linear-gradient(135deg, hsla(0, 0%, 30%, 1) 0%, hsla(0, 0%, 20%, 1) 100%);
    --button-outer-shadow: #888;
    --msg-background: black;
    --divider-colour: #333;
}
@font-face {
    font-family: 'Bellerose';
    src: url('Bellerose.ttf') format('truetype');
}
@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-Regular.ttf') format('truetype');
}
html, body, div {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}
@keyframes textGlow {
    from {
        color: var(--led-off);
    }
    50% {
        color: var(--led-on);
    }
    to {
        color: var(--led-off);
    }
}

#message {
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    flex: 0 0 50px;
    align-items: center;
    justify-content: center;
    color: var(--led-on);
    background-color: var(--msg-background);
    animation: textGlow 5s infinite;
}
#title {
    display: flex;
    flex: 0 0 120px;
    align-items: center;
    justify-content: center;
    font-family: Bellerose;
    font-size: 48px;
    margin-top: -24px;
    color: var(--font-color);
    background: var(--panel-background);
    text-shadow: 0px 0px 15px var(--font-color);
    border: 1px solid var(--divider-colour);
    overflow: hidden;
    position: relative;
}
@keyframes growCircle{
    from {
        width: 0;
        padding-bottom: 0;
    }
    to {
        width: 100%;
        padding-bottom: 100%;
    }
}
#titleInner1 {
    animation-delay: 0s;
}
#titleInner2 {
    animation-delay: 0.55s;
}
#titleInner3 {
    animation-delay: 1.1s;
}
#titleInner4 {
    animation-delay: 1.65s;
}
#titleInner5 {
    animation-delay: 2.2s;
}
#title div {
    position: absolute;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid #aaa;
    width: 0;
    height: 0;
    animation-name: growCircle;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    opacity: 0.5;
}
#visualiser {
    display: flex;
    flex: 1 1 200px;
}
#buttons {
    display: flex;
    flex: 0 0 200px;
    flex-direction: row;
    justify-content: center;
    background: var(--panel-background);
}
.buttonBox {
    display: flex;
    flex: 0 0 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-color: var(--divider-colour);
    border-width: 0 1px;
    border-style: solid;
    margin: 0 -1px 0 0;
}
@keyframes blinkGreen {
    from {
        background-color: var(--led-off);
    }
    50% {
        background-color: var(--led-on);
        box-shadow: var(--led-glow);
    }
    to {
        background-color: var(--led-off);
    }
}
.buttonIndicator {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--led-off);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px 1px, inset #203001 0 0 10px;
    border: 1px solid var(--divider-colour);
}
.buttonBox.channelLoading .buttonIndicator {
    animation: blinkGreen 2s infinite;
}
.buttonBox.channelPlaying .buttonIndicator {
    background-color: var(--led-on);
    box-shadow: var(--led-glow);
}
.button {
    display: flex;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #fff, #444);
    color: #a7a7a7;
    box-shadow: 1px 1px 6px var(--button-outer-shadow), inset 2px 2px 3px #fff;
    border: 1px solid var(--divider-colour);
}
.button:active {
    box-shadow: 1px 1px 6px var(--button-outer-shadow);
}
.buttonLabel {
    display: flex;
    flex: 0 0 20px;
    align-items: center;
    color: var(--font-color);
    text-shadow: 0px 0px 10px var(--font-color);
    padding: 5px;
    font-family: Bellerose;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 24px;
    margin-top: -10px;
    border: none ! important;
}
canvas {
    width: 100%;
    height: 100%;
}
