body {
  margin: 0;
  padding: 0;
  background-color: #ccc; }

body, main, h1 {
  display: flex;
  flex-direction: column; }

#title h1 {
  line-height: 1.2;
  margin-top: 5px; }
  #title h1 a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 0; }
  #title h1 span {
    font-size: 1.8rem;
    font-weight: normal; }
#title.episodesHeader h1 span {
  font-size: 1.4rem;
  line-height: 2rem; }
#title.episodeHeader h1 span {
  font-size: 1.4rem; }

a {
  color: black; }

#title {
  flex-basis: 9rem; }

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem 1rem 1rem 1rem;
  font-family: "Josefin", sans-serif;
  font-weight: 300;
  font-size: 1.2rem; }
  main p {
    line-height: 1.4rem;
    text-underline-offset: 0.1em; }
    main p.compact {
      margin-bottom: 0; }

.pageDescription {
  text-align: center;
  line-height: 1.2;
  margin: 0.25rem 0; }
  .pageDescription:first-of-type {
    margin-top: 1rem; }
  .pageDescription + .pageDescription + .pageDescription {
    margin-bottom: 1rem; }

#searchForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex: 0 0 40px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; }
  #searchForm input {
    width: 20rem; }

button.rounded, input.rounded {
  outline-width: 1px;
  outline-color: #999;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 1rem; }

button.rounded:enabled {
  cursor: pointer; }
  button.rounded:enabled:hover {
    background-color: white; }

#searchError {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1.5rem; }

#searchInfo {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0; }

#searchResults .secondaryMatch {
  display: none; }
#searchResults #showSecondaryMatches {
  display: block;
  margin: 1rem auto; }
#searchResults.showSecondaryMatches {
  display: block;
  margin: 1rem auto; }
  #searchResults.showSecondaryMatches .secondaryMatch {
    display: block; }
  #searchResults.showSecondaryMatches #showSecondaryMatches {
    display: none; }

.episodeSummary h3 {
  text-decoration: underline;
  margin-bottom: 0;
  word-break: break-word;
  line-height: 1.6rem; }
  .episodeSummary h3 .showName {
    font-weight: 400; }
  .episodeSummary h3 .episodeName {
    font-weight: 300; }
.episodeSummary .summaryText {
  margin: 0.8em 0 0.4em 0; }
.episodeSummary summary {
  cursor: pointer; }
.episodeSummary .episodeDetails .episodeMetadata, .episodeSummary .episodeDetails .episodeShortSummary, .episodeSummary .episodeDetails .episodeDownloadLinks, .episodeSummary .episodeDetails h3 {
  display: none; }

.episodeDetails {
  margin-bottom: 1.5rem; }
  .episodeDetails .episodeDownloadLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; }
  .episodeDetails .episodeDownloadLinks a {
    color: black; }
  .episodeDetails .episodeDownloadLinks audio {
    max-width: 100%; }
  .episodeDetails .episodeMetadata div {
    display: flex;
    gap: 1rem;
    margin: 0.2rem 0; }
    .episodeDetails .episodeMetadata div dt {
      flex: 0 0 6rem;
      font-weight: 400; }
      .episodeDetails .episodeMetadata div dt:after {
        content: ":"; }
    .episodeDetails .episodeMetadata div dd {
      flex: 1;
      margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: circle; }
  ul li {
    margin: 0.5em 0;
    text-underline-offset: 0.1em; }
    ul li a {
      cursor: pointer;
      text-decoration: underline; }

h2, h3 {
  font-weight: 400;
  margin: 2rem 0 0 0; }

.episodesList .episodeSummary {
  margin: 0.4em 0 0.2em 0; }
.episodesList h3 {
  margin-top: 0.6em; }

.loading {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 10px auto; }
  .loading .double-bounce1, .loading .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading-bounce 2.0s infinite ease-in-out; }
  .loading .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@keyframes loading-bounce {
  0%, 100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }
@media screen and (max-width: 500px) {
  ul {
    list-style: none;
    text-align: center; }

  h2, h3 {
    margin-top: 1rem; }

  #title {
    flex-basis: 110px; }

  .pageDescription {
    text-align: center;
    font-size: 1em;
    margin: 0.2em 0.2em; }

  #searchForm {
    flex-direction: column;
    gap: 0.5rem; }
    #searchForm input, #searchForm button {
      width: 100%;
      box-sizing: border-box; }

  .episodeDetails .episodeDownloadLinks {
    flex-direction: column;
    align-items: center;
    gap: 20px; }

  #title.episodeHeader h1 span, #title.episodesHeader h1 span {
    font-size: clamp(0.8rem, 4vw, 1.4rem);
    word-break: break-word; }

  h2 {
    font-size: clamp(0.9rem, 8vw, 1.4rem);
    word-break: break-word; }

  #searchResults {
    margin-top: 0.8rem; } }

/*# sourceMappingURL=search.css.map */
