body {
    background-color: #ccc;
}
a {
    color: var(--menu-font-color);
}
#showsContainer {
    display: flex;
    flex-direction: column;
}

#showsContainer #title {
    flex-basis: 140px;
}
#showsContainer h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    margin-top: 10px;
}
#showsContainer h1 a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 0;
}
#showsContainer h1 span {
    font-size: 0.6em;
    font-weight: normal;
}
p {
    font-family: "Josefin", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 0.4em;
}